[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/Lab-of-AI-and-Robotics/diff-gaussian-rasterization.git
[submodule "submodules/fast_gicp"]
	path = submodules/fast_gicp
	url = https://github.com/Lab-of-AI-and-Robotics/fast_gicp.git
	branch = gs_icp_slam
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/camenduru/simple-knn.git
